.li-active{
    background:pink;
}
.container {
    padding: 30px;
    border: 1px solid black;
    display: flex;
    height: 90vh;
    min-height: 350px;
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

#left {
    flex-direction: column;
    width: 200px;
    border: 1px solid green;
    overflow-y: scroll;
    >li{
        border-bottom: 1px solid #ddd;
        padding: 6px 2px;
        cursor: pointer;
        >p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover{
            color:red;
        }
    }
    >li:empty{
        background: #ccc;
    }
}

#right {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    padding: 10px 16px;
}

#form-container{
    flex: 1;
}

form#dropzoneUpload {
    border: 2px dashed green;
    border-radius: 16px;
    width: 300px;
    #files {
        opacity: 0;
    }
    &:hover{
        border:2px dashed red;
    }
    label {
        width: 300px;
        height: 100px;

        text-align: center;
        display: inline-block;
        padding-top: 40px;
    }
}

#add-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}