/* red: #D43C33 */
/* grey: #888 */
body{
  font-size: 15px;
  background: white;
}
@keyframes circle{0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }
/*#loading{
  animation: circle 3s linear infinite;
}*/
.sectionTitle{
  border-left: 2px solid #D43C33;
  font-size: 17px;
  line-height: 1;
  padding-left: 8px;
  margin: 20px 0 8px;
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: white;
}
section.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo>p{
  width: 142px;line-height: 25px;
  vertical-align: top;
  font-size: 20px;

}
section.topbar > a{
  color: white;
  display: inline-block;
  padding: 5px 11px;
  line-height: 20px;
  position: relative;
}
section.topbar > a::after{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid white;
  border-radius: 50px;
  transform: scale(0.5);
  transform-origin: 0 0;
}

/* tabs-nav */
.tabs-nav{
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}
.tabs-nav>li{
  width: 33.333333%;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-nav>li>.text{
  padding: 10px 5px;
  position: relative;
  top: 1px;
}
.tabs-nav >li.active{
  color: #D43C33;
}
.tabs-nav >li.active>.text{ 
}
.tabs-nav >li.active>.text::after{
  content: '';
  position: absolute;
  height: 2px;
  background: #D43C33;
  bottom: 1px;
  left: 0;
  width: 100%;
}
.tab-content{
  margin-top: 105px;
}
.tab-content > li{
  display: none;
}
.tab-content > li.active{
  display: block;
}
.noCollapse::before{
  content:'';
  display: table;
}
.noCollapse::after{
  content:'';
  display: table;
}

section.playlists{
}
section.playlists > ol.songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}
section.playlists > ol.songs > li{
  width: 32.8%;
  margin: 8px 0;
}
section.playlists > ol.songs > li p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
  padding: 0 6px;
}
section.playlists > ol.songs > li img{
  width: 100%;
}
section.songs{}

section.songs > .list {
  margin-top: 18px;
}
section.songs > .list > li > h3{
  font-size: 17px;
}
section.songs > .list > li > p{
  font-size: 12px;
  color: #888;
}
section.songs > .list > li{
  position: relative;
  margin-left: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
section.songs > .list .playButton{
  position: absolute;
  right:8px;
  top: 50%;
  transform: translateY(-50%);
}
section.songs > .list .icon-play{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #AAA;
}
section.songs > .list .icon-sq{
  fill: #FE672E;
}
section.art{
  padding-top: 17%;
  padding-bottom: 18px;
  background: transparent url(http://i.loli.net/2017/08/25/599f862b9c98d.png) no-repeat center;
  background-size: cover;
  text-align: center;
}
section.art svg{
  width: 230px;
  height: 44px;
}
section.art .link-wrapper{
  display: inline-block;
  border: 1px solid;
  line-height: 40px;
  font-size: 16px;
  padding: 0 19px;
  border-radius: 20px;
  color:#D43C33;
  margin-top: 10px;
  margin-bottom: 5px;
}
section.art .copyright{
  font-size: 12px;
  color: #888;
  transform: scale(.75);
}

/**********/
#songs{
  display: flex;
  flex-direction: column;
}
#songs li{
  height: 4em;
  padding: 6px 0;
}
#songs a{
  display: flex;
  align-items: center;
}
.song-info{
  flex: 1;
  margin-right: 20px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
}
.song-info h3{
  font-size: 17px;
  color: #333;
  font-weight: normal;
}
.song-info p{
  font-size: 12px;
  color: #888;
  font-weight: normal;
}
.song-info h3,.song-info p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
}
.playsvg{
  margin-right: 1em;
}
.playsvg svg{
  width: 22px;
  height: 22px;
}

.playcount{
  background-repeat: no-repeat;
  background-position: 0;
  position: absolute;
  top: 2px;
  right: 5px;
  padding-left: 13px;
  color: white;
  font-size: 12px;
  margin-top: 2px;
  background-size: 11px 10px;
  text-shadow: 1px 0 0 rgba(0,0,0,.15)
}

.ear{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==);
}

.cover{
  position: relative;
}

.playlist-link{
  width: 100%;
}